<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h2><b><span class="glyphicon glyphicon-tent"></span> About</b></h2>
        <br />
        <ul>
            <li>
                <p>
                    <h4>YelpCamp is a Node.js web application using Express framework.</h4>
                </p>
            </li>
            <li>
                <p>
                    <h4>Application allows users to share a campground image and experience.</h4>
                </p>
            </li>
            <p>
                <li>
                    <h4>This is a "code-along" project in Colt Steele's <a href="https://www.udemy.com/the-web-developer-bootcamp/"><b><i>The
                                    Web Developer Bootcamp</i></b></a> Udemy course.</h4>
                </li>
            </p>
        </ul>
        </br>
        <hr>

        <div class="table-responsive">
            <table class="centerTable" border=0>
                <thead>
                    <th class="col1"><br>FRONT-END</br></th>
                    <th class="col2"><br>BACK-END</br></th>
                    <th class="col3"><br>ADDITIONAL FEATURES</br></th>
                </thead>
                <tbody>
                    <tr>
                        <td>Authentication</td>
                        <td>Datastore: MongoDB</td>
                        <td>About Page and Routing</td>
                    </tr>
                    <tr>
                        <td>CSS3</td>
                        <td>Deployed: Heroku Servers</td>
                        <td>Admin Role</td>
                    </tr>
                    <tr>
                        <td>Bootstrap</td>
                        <td>Developed on: Cloud9 IDE</td>
                        <td>Campground Contact Info</td>
                    </tr>
                    <tr>
                        <td>Express.js</td>
                        <td>Flash Messages</td>
                        <td>Fuzzy Search</td>
                    </tr>
                    <tr>
                        <td>Font Awesome</td>
                        <td>Google Maps</td>
                        <td>Landing Page Image Slider</td>
                    </tr>
                    <tr>
                        <td>HTML5</td>
                        <td>Hosted: MongoDB's MLab</td>
                        <td>Pagination Index</td>
                    </tr>
                    <tr>
                        <td>jQuery</td>
                        <td>Image Local Store</td>
                        <td>Ratings and Reviews</td>
                    </tr>
                    <tr>
                        <td>Moment.js</td>
                        <td>Image Store Cloudinary/Multer</td>
                        <td>Reset User Password</td>
                    </tr>
                    <tr>
                        <td>Node.js</td>
                        <td>REST</td>
                        <td>Social Media Icons</td>
                    </tr>
                    <tr>
                        <td>Passport.js</td>
                        <td>Versioned: GIT</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<% include ./partials/footer %>