<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
    <h2><b>About</b></h2>
    <br/>
    <p><h4>YelpCamp is a web application which allows users to share a campground image and experience.</h4></p>
        <p><h4>Users can also comment on existing campgrounds.</h4></p>
    <p>
    <h4>This application is a "code-along" project in Colt Steele's <a href="https://www.udemy.com/the-web-developer-bootcamp/">
    <b><i>Web Developer Bootcamp course</i></b></a> on Udemy.</h4>
    </p>
    <hr>

<div class="table-responsive">
<table class="centerTable" border=0>
  <thead>
    <th class="col1"><br>FRONT-END</br></th>
    <th class="col2"><br>BACK-END</br></th>
    <th class="col3"><br>NEW FEATURES</br></th>
    <th class="col4"><br>REFACTOR (PENDING)</br></th>
  </thead>
  <tbody>
    <tr>
      <td>HTML5</td>
      <td>Datastore: MongoDB</td>
      <td>About page</td>
      <td>Google Maps</td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td>Deployed: Heroku Servers</td>
      <td>Routing About</td>
      <td>Cloudinary/Multer Images</td>
    </tr>
    <tr>
      <td>REST</td>
      <td>Hosted: Mongo MLab</td>
      <td>Social Media Icons</td>
       <td>Ratings and Reviews</td>
    </tr>
    <tr>
      <td>Authentication</td>
      <td>Versioned: GIT</td>
      <td>Local image store</td>
       <td>Comments Refactor</td></td>
    </tr>
    <tr>
      <td>Node.js</td>
      <td>Developed on: Cloud9 IDE</td>
      <td></td>
       <td>Hide/Expand Comments</td>
    </tr>
    <tr>
      <td>Express.js</td>
      <td></td>
      <td></td>
       <td>Pagination/Index</td>
    </tr>
    <tr>
      <td>Passport.js</td>
      <td></td>
      <td></td>
       <td>Async/Await Callbacks</td>
    </tr>
    <tr>
      <td>jQuery</td>
      <td></td>
      <td></td>
       <td>In-app Notifications</td>
    </tr>
    <tr>
      <td>Bootstrap</td>
      <td></td>
      <td></td>
       <td>Bootstrap 4 Migration</td>
    </tr>
    <tr>
      <td>Font Awesome</td>
      <td></td>
      <td></td>
      <td>Background Image Slider</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>




<% include ./partials/footer %>